<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/user/<%= @user_id %>/property" method="post">
      <input type="text" name="name"/>
      <input type="text" name="description"/>
      <input type="text" name="price"/>
      <input type="submit" name="Submit" />
    </form>
  </body>
</html>
