<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/user/<%= @user.id %>/property" method="post">
      <input type="text" name="name" placeholder="Name"/>
      <input type="text" name="description" placeholder="Description"/>
      <input type="text" name="price" placeholder="Price"/>
      <div>Date Availiable From:
        <input type="date" name="start_date"/>
      </div>
      <div>Date Availiable To:
        <input type="date" name="end_date"/>
      </div>
      <input type="submit" name="Submit" />
    </form>
  </body>
</html>
