<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/login">
      <input type="email" name="email" placeholder="email@example.com"/>
      <input type="password" name="password" placeholder="password"/>
      <input type="submit" name="Submit" />
    </form>

    <h2>
      <%= flash[:notice] %>
    </h2>

  </body>
</html>
