<div class="container my-5">
      <div class="row d-flex justify-content-center my-4">
      <h2>Why choose us</h2>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4 text-center">
                  <span style="font-size: 4em; color: #ddd;">
          <i class="fa fa-camera"></i>
          </span>
          <h3 class="card-title">Instagramable spaces</h3>
          <p>
            Saepe omnis beatae libero quisquam ex nostrum repellendus,
            consectetur suscipit. Velit iusto ducimus sit quos officiis nesciunt
            libero
          </p>
        </div>
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4 text-center">
                  <span style="font-size: 4em; color: #ddd;">
          <i class="fa fa-heart"></i>
          </span>
          <h3 class="card-title">Great for lovemaking</h3>
          <p>
            Saepe omnis beatae libero quisquam ex nostrum repellendus,
            consectetur suscipit. Velit iusto ducimus sit quos officiis nesciunt
            libero
          </p>
        </div>
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4 text-center">
        <span style="font-size: 4em; color: #ddd;">
          <i class="fa fa-key"></i>
          </span>
          <h3 class="card-title">You will have a key</h3>

          <p>
            Saepe omnis beatae libero quisquam ex nostrum repellendus,
            consectetur suscipit. Velit iusto ducimus sit quos officiis nesciunt
            libero
          </p>
        </div>
      </div>
    </div>