<div class="container">
    <div class="row">
      <div class="col-12">

<div class="bg-light p-4 my-4">
          <form action='/property/all/available' method="get">
  <div class="form-row d-flex align-items-end justify-content-start">
    <div class="col">
          <label for="checkin">Check-in</label>
      <input type="date" class="form-control" name="check_in" id="checkin">
    </div>
    <div class="col">
                <label for="checkin">Check-out</label>

      <input type="date" class="form-control" id="checkout" name="check_out">
    </div>

    <div class="col">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
    <div class="col">
<a href="/property/all"  class="btn btn-secondary">Reset</a>
    </div>
  </div>
</form>
</div>
      </div>
    </div>
  </div>